@font-face {
    font-family: "Pokémon DS Font";
    src: url("../fonts/pokemon-ds-font.ttf");
}

@keyframes fadeIn {
    0% {
        filter: brightness(0%);
    }

    50% {
        filter: brightness(0%);
    }


    100% {
        filter: brightness(100%);
    }
}

@keyframes fadeInInfo {
    0% {
        filter: brightness(0%);
    }
    100% {
        filter: brightness(100%);
    }
}

@keyframes fadeInPokemon {
    0% {
        filter: brightness(0%);
    }

    80% {
        filter: brightness(100%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }


    100% {
        opacity: 0;
    }
}

@keyframes goBlack {
    100% {
        filter: brightness(100%);
    }

    0% {
        filter: brightness(0%);
    }
}

@keyframes moveLeftAnimation {
    0% {
        left: 0;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 100%;
    }
}


/*so align items is vertical postiion, justify contents is horizontal? */
body {
    
    height: 100%;
    background-image: url("../miscImages/mewBackground.png");
    background-size: 125% 100%
}



#lblStatus {
    visibility: hidden;

}

#lblCrit {
    visibility: hidden;

}

#lblFainted {
    visibility: hidden;
}

#enterGameDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /*viewport height seems to work well */
    height: 100vh;
}

#enterGameButton {
    background-color: black;
    color: #f8fdf6;
    text-shadow: 3px 3px #20261c;
    border-radius: 10px;
    border-color: #f8fdf6;
    border-width: 2px;
    font-family: "Pokémon DS Font";
    height: 100px;
    width: 300px;
    font-size: 45px;
    box-shadow: 2px 2px 4px 3px #20261c;
}

#pageDiv {
    display: none;
    justify-content: center;
    align-items: center;
    /*viewport height seems to work well */
    height: 100vh;

}

#startDiv {
    display: flex;
    flex-direction: row;

}

#startMiddleSection {
    display: flex;
    flex-direction: column;
}

.gifDiv {
    height: 160px;
    width: 160px;
    padding-left: 115px;
    padding-right: 100px;
}

#gif1 {
    max-height: 100%;
    max-width: 100%;

}

#gif2 {
    max-height: 100%;
    max-width: 100%;
}

#startTextDiv {
    font-size: 45px;
    font-family: "Pokémon DS Font";
    color: #4f4e53;
    text-shadow: 3px 3px grey;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 20px;

    width: 366px;
}

#startButtonDiv {
    display: flex;
    width: 300px;
    height: 150px;
    padding-bottom: 10px;
    padding-left: 50px;
}

#startButton {
    background-color: #f72c1e;
    color: #f8fdf6;
    text-shadow: 3px 3px #20261c;
    border-radius: 10px;
    border-color: #f8fdf6;
    border-width: 2px;
    font-family: "Pokémon DS Font";
    height: auto;
    width: 100%;
    font-size: 45px;
    box-shadow: 2px 2px 4px 3px #20261c;
}

#startButton:hover {
    transform: scale(1.05);
    transition: transform 0.15s ease-in-out;
}

.grow {
    transform: scale(3.5);
    transition: transform 0.15s ease-in-out;
}

.appear {
    animation: fadeInPokemon 2s;
}

.disappear {
    animation: fadeOut 2s;
}

.appear2 {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s 2s, opacity 2s linear;
}

/* more like faint 2.0*/ 
.faint2 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.faintCanvas {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 4s, opacity 4s linear;
}

.cutToBlack {
  
  filter: brightness(0%);
  -webkit-transition: all 2s ease;
}

#canvasDiv {
    background-image: url("../miscImages/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 850px;
    width: 1300px;
    border-style: solid;
    border-radius: 15px;
    border-width: medium;
    border-color: #f8fdf6;
    display: none;
    flex-direction: column;
    animation: fadeIn 4s;
}

#topRow {
    display: flex;
    justify-content: right;
    padding-right: 200px;
    padding-top: 50px;
    flex-direction: row;
    padding-left: 5px;
    width: 1133px;
}

#enemyPokemonDiv {

    height: 270px;
    width: 270px;
    padding-top: 50px;
}

#ambipom {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    height: 100%;
}



#InfoDivEnemy {
    display: none;
    flex-direction: column;
    margin-right: 380px;
    background-color: #6a7358;
    height: 130px;
    width: 480px;
    border-style: solid;
    border-radius: 5px;
    border-color: #b7b69a;
    border-width: 4px;
    border-left: transparent;
    outline-style: solid;
    outline-color: #20261c;
    outline-width: 4px;
    box-shadow: 0 0 0 6px #f8fdf6;
    color: #f8fdf6;
    font-size: 45px;
    padding-left: 10px;
    font-family: "Pokémon DS Font";
    text-shadow: 3px 3px #20261c;
    animation: fadeInInfo 1s;

}

#enemyInfoTopRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;

}

#enemyPokemonName {
    padding-right: 20px;
    margin-right: 30px;
    margin-top: 5px;
}

#enemyPokemonGender {
    padding-left: 50px;
    width: 26px;
    height: 34px;
    margin-top: 10px;
}

#femaleGenderIcon {
    height: 100%;
}

#enemyPokemonlv {
    padding-top: 8px;
    font-size: 40px;

}

#enemygenLvDiv {
    display: flex;
    margin-left: 120px;
}

#enemyInfoBottomRow {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 130px;
}


#hpOutsideBarEnemy {
    width: 220px;
    height: 20px;
    border-style: solid;
    border-width: 4.5px;
    border-radius: 3px;
    border-color: #f8fdf6;
    box-shadow: 3px 3px #20261c;
    margin-top: 16px;
    margin-right: 15px;

}

#enemyHpInsideBar {
    background-color: #2eb837;
    margin: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 3px darkgray;
    -webkit-transition: width 1s;
}

.pokemonHp {
    margin-top: 4px;
    margin-right: 2px;
}

#enemyPokemonStatus {
    margin-top: 10px;
    width: 60px;
    height: 30px;
    margin-right: 10px;

}

#enemyStatusIcon {
    height: 100%;
    width: 100%;
    display: none;
}

#bottomRow {
    display: flex;
    justify-content: right;
    padding-right: 5px;
}

#PokemonDiv {

    height: 300px;
    width: 300px;
    margin-right: 250px;

}

#Raichu {
    max-width: 100%;
    height: 300px;
}

#InfoDiv {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #6a7358;
    height: 130px;
    width: 460px;
    border-style: solid;
    border-radius: 5px;
    border-color: #b7b69a;
    border-width: 4px;
    border-right: transparent;
    outline-style: solid;
    outline-color: #20261c;
    outline-width: 4px;
    box-shadow: 0 0 0 6px #f8fdf6;
    color: #f8fdf6;
    font-size: 45px;
    padding-left: 10px;
    font-family: "Pokémon DS Font";
    text-shadow: 3px 3px #20261c;


}

#InfoTopRow {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;

}

#PokemonName {
    padding-right: 30px;
    margin-right: 30px;
    margin-top: 5px;
}

#PokemonGender {
    padding-left: 70px;
    width: 26px;
    height: 34px;
    margin-top: 10px;
}

#maleGenderIcon {
    height: 100%;
}

#Pokemonlv {
    padding-top: 8px;
    font-size: 40px;

}

#genLvDiv {
    display: flex;
    margin-left: 100px;
}

#InfoBottomRow {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 130px;
}

#hpOutsideBar {
    width: 284px;
    height: 20px;
    border-style: solid;
    border-width: 4.5px;
    border-radius: 3px;
    border-color: #f8fdf6;
    box-shadow: 3px 3px #20261c;
    margin-top: 16px;
    margin-right: 15px;

}

#hpInsideBar {
    background-color: #2eb837;
    margin: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 3px darkgray;
    -webkit-transition: width 1s;
}

#PokemonStatus {
    margin-top: 10px;
    width: 60px;
    height: 30px;
    margin-right: 8px;

}

#statusIcon {
    height: 100%;
    width: 100%;
    display: none;
}

#infoHealthPoints {
    color: #f8fdf6;
    font-size: 30px;
    font-family: "Pokémon DS Font";
    text-shadow: 2px 2px #20261c;
    padding-left: 236px;
    margin-top: -3px;
    transform: scale(2.2, 1);
}

#textAreaDiv {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #20261c;
    max-width: 100%;
    height: 200px;
    background-color: #888f8f;
}

#innerTextAreaDiv {
    background-color: #f8fdf6;
    border-style: solid;
    border-color: transparent;
    margin: 0;
    height: 82%;
    max-height: 100%;
    width: 90%;
    margin-left: 20px;
    font-size: 55px;
    font-family: "Pokémon DS Font";
    color: #4f4e53;
    text-shadow: 3px 3px grey;
    padding-top: 25px;
    padding-left: 10px;
    line-height: 1.1;
}

#movesDivLeft {
    display: none;
    padding-top: 25px;
    width: 14.5%;
    background-color: #f8fdf6;
    border-style: solid;
    border-color: transparent;
    margin: 0;
    height: 82%;
    max-height: 100%;
    font-size: 40px;
    font-family: "Pokémon DS Font";
    color: #4f4e53;
    text-shadow: 2px 2px grey;
    line-height: 1.5;

}

#movesDivRight {
    display: none;
    padding-top: 25px;
    width: 20.5%;
    background-color: #f8fdf6;
    border-style: solid;
    border-color: transparent;
    border-radius: 0 5px 5px 0;
    margin: 0;
    height: 82%;
    max-height: 100%;
    font-size: 40px;
    font-family: "Pokémon DS Font";
    color: #4f4e53;
    text-shadow: 2px 2px grey;
    line-height: 1.5;
}

#blackDot1 {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    opacity: 0.5;
    visibility: hidden;
}

#blackDot2 {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    opacity: 0.5;
    visibility: hidden;
}

#blackDot3 {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    opacity: 0.5;
    visibility: hidden;
}

#blackDot4 {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    opacity: 0.5;
    visibility: hidden;
}

#move1 {
    display: flex;
    flex-direction: row;
}

#move2 {
    display: flex;
    flex-direction: row;
}

#move3 {
    display: flex;
    flex-direction: row;
}

#move4 {
    display: flex;
    flex-direction: row;
}